<h1>About Benford's Law</h1>
<a href="https://en.wikipedia.org/wiki/Benford%27s_law">Benford's Law</a> is a statistical property of random numbers that is useful for finding fake, artifically constructed data. We would expect a large enough collection of voting totals to follow Benford's Law. However, check out Milwaukee's charts below. You will see that the red Trump data follows Benford's Law for Milwaukee, but the blue Biden data is strangely anomalous.<br/><br/>
The gray bars show expected values under Benford's Law. The blue shows Biden votes, and the red shows Trump votes.<br/><br/>
Note that some of the datasets are probably too small to meaningfully follow Benford's Law. Still useful to review everything for patterns.<br/><br/>
